*{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}
body{
    background: #F7F2E6;
}
.container{
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__menu{
   display: flex;
   white-space: nowrap;
   align-items: center;
   justify-content: space-between;
   padding: 0;
   margin: 12px 20px 0px 20px;
   font-family: 'Courier New';
   font-style: normal;
   
   color: #87BCC0;
   font-weight: bold;
}
.header__menu-items-nav{
    display: flex;
    color: #323232;
    font-weight: normal;
}
.header__menu-items{
    margin: 15px 20px 15px ;
}
.search{
    width: 100%;
    float: right;
    align-content:center;
}
.header__search {
    display: flex;
    width: 100%;
    height: 44px;
    border: transparent;
    border-bottom: 1px solid #26484A ;
    background: transparent;
    outline: none;
    background-image: url(./img/Vector.png);
    background-repeat:no-repeat;
    background-position:right center;
    cursor: pointer;
    caret-color: #26484A;
  }
.header__search:focus {
    width: 100%;
    height: 44px;
    border : 1px solid #26484A;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    padding-left: 16px;
  }

.header__burger{
    display: none;
    align-self: center;
    width: 35px;
  height: 1px;
  background-color: #323232;
  margin: 7px 20px;
}
.header__heading{
    display: flex;
    flex-direction: column;
}
.header__heading1{
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.24em;
    color: #26484A;
    position: absolute;
    width: 624px;
    height: 52px;
    top: 140px;
}
.header__heading2{
    font-family: a_PlakatCmpl;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    position: absolute;
    width: 904px;
    height: 70px;
    top: 192px;  
    color: #26484A;
    letter-spacing: 0.24em;
}
.header__heading2-short{
    display: none;
    font-family: a_PlakatCmpl;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    position: absolute;
    width: 904px;
    height: 70px;
    top: 192px;  
    color: #26484A;
    letter-spacing: 0.24em;
}
.header__heading3{
    background: transparent;
    position: absolute;
    width: 416px;
    height: 90px;
    top: 228px;
    color: #F1592A;
    font-family: ZhikharevC;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 104px;
    border-bottom: 7px solid currentColor;
    display: inline-block;
}
.header__content-text{
    margin-top: 300px;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    max-width: 592px;
}
.header__input{
    display: none;
    height: 100px;
    padding-top: 280px;
    
}

.header__input-search{
    display: flex;
    border: 2px solid #F1592A;
    border-radius: 7px;
    background: transparent;
    height: 48px;
    background-image: url(./img/Frame\ 79.png) ;
    background-position: 10px;
    background-repeat:no-repeat;
    background-position:right center;
    padding-left: 10px;
}

.header__input-adress{

    display: flex;
    border: 2px solid #F1592A;
    border-radius: 7px;
    background: transparent;
    height: 48px;
    margin-top: 10px;
    padding-left: 10px;
    background-image: url(./img/Frame\ 80.png) ;
    background-position: 10px;
    background-repeat:no-repeat;
    background-position:right center;
    padding-left: 10px;
}



.header__content-button{
    background: #F1592A;
    border: 2px solid #F1592A;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    width: 176px;
    height: 56px;
    color: #F7F2E6;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top:  64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__content-button:hover{
    background: #CF3100;
    border: 2px solid #CF3100;
}
.header__content-img1{
    display: flex;
    position: absolute;
    width: 312px;
    height: 396px;
    left: 858px;
    top: 370px; 
}
.header__content-img2{
    display: flex;
    position: absolute;
    width: 312px;
    height: 396px;
    left: 1048px;
    top: 276px;

}
.header__content-img-title1{
    display: flex;
    position: absolute;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    left: 144px;
    top: 337px;
    background: transparent;
    color: #87BCC0;
    
}
.header__content-img-title2{
    display: flex;
    position: absolute;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    left: 120px;
    top: 340px;
    background: transparent;

}

.rectangle {
    height: 1600px;
    width: 100%;
    background: #87BCC0;
    margin-top: 228px;
}
    
.katalog__heading{
    font-family: a_PlakatCmpl;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24em;
    position: absolute;
    top: 832px;
    color: #F7F2E6;
    background: none;
}
.katalog__heading-title{
    font-family: ZhikharevC;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 104px;
    color: #F1592A;
    position: absolute;
    left: 216px;
    top: 872px;
    background: none;
    border-bottom: 7px solid currentColor;
    height: 90px;
}
.icon__group{
    margin-top: -1180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    border-top: #F7F2E6 1px solid;
    border-right: #F7F2E6 1px solid;
}
a{
    padding: 64px 0px 32px;
    border-left: #F7F2E6 1px solid;
    border-bottom:#F7F2E6 1px solid;
    text-decoration: none;
    color: #F7F2E6;
    width: 239px;
    
}
.heading{
    padding-top: 36px;
    height: 48px;
}
.about__heading{
    font-family: a_PlakatCmpl;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24em;
    color: #F7F2E6;
    padding-top: 115px ;
}
.about__heading-item{
    background-image: linear-gradient(border-top);
    background-position: 0 1.03em;
    background-size: 2px 6px;
    margin: 108px 108px 0px;
    font-family: ZhikharevC;
    font-style: normal;
    display: flex;
    justify-content: right;
    padding-right: 75px;
    font-size: 36px;
    line-height: 40px;
    background: #F1592A;
    height: 60px;
    width: 925px;
    color:  #F7F2E6;
}
.about__heading-line{
    border: none;
    background-color: #F7F2E6;
    color: #F7F2E6;
    height: 3px;
    margin-top: -25px;
    width: 364px;
    margin-left: 670px;
}
.about__img{

    padding-left: 108px;
    margin-top: -98px;
}
.about__text{
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #F7F2E6;
    position: absolute;
    display: inline-flex;
    margin:56px 0px 0px 85px;

}
.works__heading{
    font-family: a_PlakatCmpl;
    font-style: normal;
    color: #26484A;
    font-weight: 800;
    font-size: 56px;
    letter-spacing: 0.24em;
    padding-top: 318px;
}



.tabs {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
   }
.tab{
    display: inline-block;
}

.tab__title {
    display: inline-block;
    padding-top: 24px;
   }

.tab input[type="radio"] {
    display: none; 
    
}
.tab__title-line{
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

.tab__icon{
    background-size: cover;
}
.tab__one{
    margin-top: -43px;
    margin-left: 100px;
}
.icon{
    padding-bottom: 18px;
}
.tab__title-icon{  
    color: #26484A;
    display: flex;
    flex-direction: column;
    z-index: -1;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #87BCC0;
   }

.tab__title-icon::before{
    content: '';
    background: #F1EDE3;
    transform: skew(10deg);
    height: 120px;
    width: 270px;
    z-index: -1;

}
.tab__title-icon::after{
    content: '';
    background: #F1EDE3;
    transform: skew(350deg);
    margin-top: 120px;
    height: 120px;
    width: 270px;
    position: absolute;
    z-index: -1;
}



.tab__content {
    position: absolute;
    display: none;
    padding-top: 108px;
    left: 0px;
}


.tab :checked ~ .tab__title-icon::before{
    position: relative; 
    background: transparent;
    z-index: -1;
}
.tab :checked ~ .tab__title-icon::after{
    background: transparent;
    position: absolute; 
    border-bottom: 4px solid #87BCC0;
    z-index: -1;
    
}


.tab :checked ~ .tab__content {
    display: flex;
   }

.tab__content-text{
    margin-left: 106px;
}
.tab__content-title{
    font-family: ZhikharevC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #F1592A;
    border-bottom: 3px solid #F1592A;
    max-width: fit-content;
    height: 33px;
}

.tab__content-item{
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-top: 28px;

}















.tab__content-btn{
    background: #F1592A;
    border: 2px solid #F1592A;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    width: 176px;
    height: 56px;
    color: #F7F2E6;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}
.tab__content-btn:hover{
    background: #CF3100;
    border: 2px solid #CF3100;
}
rect{
    fill:#87BCC0;
    
}
.professionals{
    display: flex;
    margin-top: -700px;
    flex-direction: column;
    align-self:center;
}

.professionals__heading{
   font-family: a_PlakatCmpl;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.24em;
    color: #26484A;
    display: flex;
    justify-content: center;
    
}
.professionals__img{
 background-size: cover;
 align-self:center;
 padding-top: 48px;
}
.professionals__btn{
    background: #F1592A;
    width: 348px;
    height: 32px;
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
}
.professionals__btn:hover{
    background: #CF3100;
    border: none;
}
::-webkit-input-placeholder {
    text-align:center;
    color: #87BCC0;
 }
.name {
    border: transparent;
    border-bottom: 1px solid #26484A ;
    background: transparent;
    width: 300px;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-left: 4px;
    
}
.name:focus{
    border-bottom: #323232 1px solid;
    outline:none;
    width: 300px;
    padding-left: 4px ;
    color: #000;

 } 

.email {
    border: transparent;
    border-bottom: 1px solid #26484A ;
    background: transparent;
    margin-left: 10px;
    margin-top: 30px;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    width: 302px;
    
}
.email:focus{
    border-bottom: #323232 1px solid;
    outline:none;
 } 
.professionals__form{
    margin-top: -350px;
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 14px;
}
.professionals__form:focus{
    box-sizing: border-box;
    border: transparent;
    border-bottom: 1px solid #26484A ;
    background: transparent;
    width: 272px;
    margin-top: 30px;
}
.professionals__input2{
    margin-top: 130px;
}

.footer line{
    display: none;
}









.footer{
    position: relative;
    display: flex;
    padding-top: 300px;
    justify-content: space-between;
    font-family: Courier New;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
.footer__text{
    padding-bottom: 16px;
}
.footer__number{
    font-family: Courier New;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #F1592A;
    padding-bottom: 16px;
}
.footer2__group-icon{
    display: flex;
    align-items: center;
    
}
.footer2__icon-logo{
    display: flex;
    padding-right: 100px ;
}
.footer2__icon{
    display: flex;
    padding-right: 2px;
}
.footer2{
    display: flex;
    justify-content: space-between;
    font-family: Courier New;
    padding: 30px 0px;
}
.footer2__group{
    display: flex;
    align-items: center;
    
}